<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">Welcome to NgxTagComplete!</h1>
      <p class="lead">
          NgxTagComplete is a simple shortcuts facilitator..
      </p>
      <hr class="my-4">
      <p>
          For test this directive, it's simple!
          <br>
          Type '#' and an shortcut in input element and press 'Tab' key
      </p>
      
      <p>
         Shortcuts available: <br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  shortcut: <b>adm</b> | value: <b>administrator</b> <br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  shortcut: <b>ilj</b> | value: <b>i love javascript</b> <br>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  shortcut: <b>bib</b> | value: <b>Batman is the best</b> <br>
      </p>
      <label>Type a shortcut</label>
      <input type="text" [tagComplete]="shortcuts" class="form-control" autofocus 
          placeholder="example: #adm">
      <br><br><br>
      <small class="text-muted">By: <a href="https://github.com/josefurtado/NgxTagComplete">José Furtado</a></small>
  </div>
</div>
